In [1]:
import pandas as pd
import random
import os
print(f'Esperamos trabalhar no diretório: {os.getcwd()}')

Esperamos trabalhar no diretório: c:\Users\Rafael\OneDrive - Insper - Institudo de Ensino e Pesquisa\2023.2\CIÊNCIA DOS DADOS\Projeto 01

In [2]:
# Transforma string em inteiro
def nome_para_inteiro(nome):
    nome = nome.upper()  # Converter para maiúsculas para tratar maiúsculas e minúsculas da mesma forma
    valor_inteiro = 0
    
    for letra in nome:
        # Verificar se a letra está no alfabeto (A a Z)
        if 'A' <= letra <= 'Z':
            valor_inteiro += ord(letra) - ord('A') + 1  # Valor de 'A' é 1, 'B' é 2, ..., 'Z' é 26
    
    return valor_inteiro

In [3]:
# Ler o arquivo de dados
dados = pd.read_excel('dados.xlsx')

In [4]:
# Perguntar a quantidade de alunos no grupo (2 ou 3)
while True:
    try:
        quantidade_alunos = int(input("Quantidade de alunos no grupo (2 ou 3): "))
        if quantidade_alunos in [2, 3]:
            break
        else:
            print("Por favor, insira 2 ou 3.")
    except ValueError:
        print("Por favor, insira um número válido.")

In [5]:
nome = input("Digite seu nome: ")
valor_inteiro = nome_para_inteiro(nome)

In [6]:
# Embaralhar as linhas do conjunto de dados
dados_embaralhados = dados.sample(frac=1, random_state=valor_inteiro)

In [7]:
# Separar os dados de treino e teste com base na quantidade de alunos
if quantidade_alunos == 2:
    dados_treino = dados_embaralhados.head(300)
    dados_teste = dados_embaralhados.tail(200)
else:
    dados_treino = dados_embaralhados.head(500)
    dados_teste = dados_embaralhados.tail(250)
    
dados_treino.columns = ['Mensagem']
dados_teste.columns = ['Mensagem']
dados_treino

                                              Mensagem
366  Um livro para ler e jogar fora e sem comentar ...
684  Varios personagens sem desfecho, final sem pé ...
660  Realmente. Deixou muito a desejar. Esperei um ...
979  amei o livro inteiro, mas confesso que o final...
489  A tradução é péssima e diferente do original. ...
..                                                 ...
103  O livro é ultrapassado mesmo como ficção do in...
76   Não li os comentários antes de começar a ler o...
180  Livro que tenta pregar mudança de pensamento e...
390  A razão nem encosta no pensamento confuso e co...
126                                              Fraco

[300 rows x 1 columns]

In [8]:
# Salvar os dados de treino e teste em arquivos Excel
dados_treino.to_excel('dados_treino.xlsx', index=False, engine='openpyxl')
dados_teste.to_excel('dados_teste.xlsx', index=False, engine='openpyxl')

print("Dados de treino e teste foram salvos em 'dados_treino.xlsx' e 'dados_teste.xlsx'.")

Dados de treino e teste foram salvos em 'dados_treino.xlsx' e 'dados_teste.xlsx'.